*{
  margin: 0px ;
  padding: 0px ;
  box-sizing: border-box;
}

body{
  background-color: rgb(231, 227, 227);
  color:white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




.card{
  
  text-align: center;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background-color: rgb(61, 58, 58);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 500px;
  display: flexbox;
}
img{
  width: 495px;
}


button{
  padding: 8px;
  background-color: rgb(216, 173, 116);
  color: black;
  border: none;
  margin-top: 5px;
  border-radius: 50px;
  cursor: pointer;
}
button:hover{
  background-color:rgb(245, 143, 10) ;
  color:wheat;
}

h1{
  text-align: center;
  margin: 20px;
  font-family: 'Lato', sans-serif;
}
::content{
  color:white;
}

b{
  color:rgb(245, 143, 10);
}